  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="/assets/soso.png" alt="" width="100" ></a>　　<%#画像表示%>
          <span class="navbar-text">質問投稿ページ</span>           <%# 中央%>　　
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-Suppoted-content">
          <span class="navbar-toggler-icon"></span>        
        </button>
      <div class="collapse navbar-collapse justify-content-end" id ="navbar-Suppoted-content">    
        <ul class="navbar-nav">
          <li class="nav-item"><a href="<%= root_url %>" class="nav-link">トップページ</a></li>
        </ul>
      </div>
    </nav>
</header>
  
  <div class="text-center"><h1>質問を投稿する</h1></div>
  
  <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <%= form_with(model: @question,local: true)do|f|%>
        <%= render 'layouts/error_messages',model: @question %>
          <div class="form-group">
            <%= f.text_area :content,class: 'form-control',rows: 10 %>
          </div>
          <div class="text-right text-danger"><p>文字数制限:255字</p></div>
          <%= f.submit '投稿',class: 'btn btn-primary btn-block'%>
        <% end %>
      </div>
  </div>    
