

<%= form_with url: search_questions_path,method: :get,local: true do |f|%>
  <%= f.text_field :content %>
  <%= f.submit '検索' %> 
  <% end %>

    <div class="overflow-auto" style="height:800px; width:1100px;">
      <table class="table tbale-striped ">
  <thead>
    <tr class="bg-dark text-white">
      <th><h3>質問</h3></th>
      <th><h3><i class="fas fa-calendar-alt"></i></h3></th>
      <th><h3><i class="fas fa-user"></h3></th>
      <th><h3><i class="fas fa-eye"></h3></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |questions| %>
      <tr class="bg-light">
        <td><%= link_to simple_format(questions.content),question_path(questions) %></td>
        <td><%= questions.created_at %></td>
        <td><h3><%= questions.user.name%></h3></td>
        <td><h3><%= questions.impressions_count%></h3></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
 