


<div class="sesese">
  <%= form_with url: search_questions_path,method: :get,local: true do |f|%>
  <%= f.text_field :content %>
  <%= f.submit '検索' %> 
  <% end %>
    <div class="overflow-auto" style="height:700px; width:1640px;">
      <table class="table tbale-striped ">
  <thead>
    <tr class="bg-dark text-white">
      <th>質問</th>
      <th>投稿日</th>
      <th>ユーザー名</th>
      <th>閲覧数</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |questions| %>
      <tr class="bg-light">
      <td> <div class="iiii"><%= link_to simple_format(questions.content),question_path(questions) %></div></td>
        <td><%= questions.created_at.to_s(:datetime_jp) %></td>
        <td><%= questions.user.name%></td>
        <td><%= questions.impressions_count%></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
</div>
 </div>
