<% if current_user.id == @user.id %>
<div class="mypage">
  <div class="row">
      <div class="aa col-sm-6 bg-light ">
 　　　　　<table class="table table-warning">
　　　　　　<%= form_with(model: @sleep,local: true)do|f|%>
　　　　　　<%= render 'layouts/error_messages',model: f.object %>
   　　　 <thead>
        <tr>
            <th>睡眠時間（半角数字)</th>
            <th>試したこと</th>
            <th>感想</th>
            <th>気づき</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%=f.text_field :time %>時間</td>
            <td><%= f.text_area :try ,rows: 3%></td>
            <td><%= f.text_area :content ,rows: 3%></td>
            <td><%= f.text_area :content ,rows: 3%></td>
        </tr>
    </tbody>
　　　</table>
　　　<div class="karasu"><%= f.submit '投稿',class: 'btn btn-primary'%></div>
　　　 <% end %>
　　　　　<div>本日の睡眠時間<%= @todays_sleep.time %>時間</div>
      </div>
      
      <div class="ii col-sm-4 offset-sm-1 bg-light text-centr">
        <h1 class="eeee text-center "><%= @user.name %>の質問一覧:質問数(<%= @questions.count %>)</h1>
          <div class="overflow-auto bg-light" style="height:700px; width:550px;">
    　　<% @questions.order(created_at: :desc).each do|question| %>
            <p class="text-secondary d-inline"><i class="fas fa-calendar-alt"></i><%= question.created_at.to_s(:datetime_jp) %></p>
            <p class="d-inline"><i class="fas fa-eye"></i><%= question.impressions_count %></p>
            <%= link_to "削除", question, method: :delete,data: {confirm: "本当に削除しますか？"}, class: 'btn btn-danger btn-sm' %>
           <div class="sa text-center"><%= link_to simple_format(question.content), question_path(question) %></div>
        <% end %>
  　　　　</div>
  　　</div>
  </div>
</div>
<% else %>

<div class="col-sm-6 offset-3">
        <h1 class="eeee text-center "><%= @user.name %>の質問一覧:質問数(<%= @questions.count %>)</h1>
          <div class="overflow-auto bg-light" style="height:700px; width:900px;">
    　　<% @questions.order(created_at: :desc).each do|question| %>
            <p class="text-secondary d-inline"><i class="fas fa-calendar-alt"></i><%= question.created_at.to_s(:datetime_jp) %></p>
            <p class="d-inline"><i class="fas fa-eye"></i><%= question.impressions_count %></p>
            
           <div class="sonson text-center"><%= link_to simple_format(question.content), question_path(question) %></div>
        <% end %>
  　　　　</div>
  　　</div>

　　<% end %>