
    <div class="row">
      <div class="col-sm-6 bg-light">
        <h1 class="text-danger text-center">みんなの質問一覧</h1>
         <div class="overflow-auto " style="height:700px; width:550px;">
           <% @questions.order(created_at: 'DESC').each do |question|%>
           <ul>
             <li>
                <p class="text-success d-inline"><i class="fas fa-user"></i><%=question.user.name %></p>
                <p class="text-primary d-inline"><i class="fas fa-calendar-alt"></i><%= question.created_at %></p>
                <p class="d-inline"><i class="fas fa-eye"></i><%= question.impressions_count %></p>
                <%=link_to simple_format(question.content),question_path(question) %>
            </li>
          </ul>
          <% end %>
        </div>
     </div>
     
     <div class="col-sm-6 bg-light">
        <h1 class="text-danger text-center">閲覧数ランキング</h1>
         <div class="overflow-auto " style="height:700px; width:550px;">
           <% @questions.order(impressions_count: 'DESC').each do |question|%>
           <ul>
             <li>
                <p class="text-success d-inline"><i class="fas fa-user"></i><%=question.user.name %></p>
                <p class="text-primary d-inline"><i class="fas fa-calendar-alt"></i><%= question.created_at %></p>
                <p class="d-inline"><i class="fas fa-eye"></i><%= question.impressions_count %></p>
                <%=link_to simple_format(question.content),question_path(question) %>
          </li>
          </ul>
          <% end %>
        </div>
     </div>
     </div>
    
   


